nav li {
    display: inline-block;
    margin: 0 20px 0 20px;
    width: 50px;
  }
.about {
    left: 50px;
}
.contact {
    left: 17px;
}
.auth {
    left: 600px;
  }
  
nav ul {
    margin: 0px;
  }